.tablemap {
    .tablemap-map {
        // border: 1px solid var(--input-border-color);
        // border-radius: var(--border-radius);
        // $input-border-color: var(--input-border-color);
        &:hover {
            border-color: var(--input-border-color);
        }
        &:focus {
            border-color: var(--color-theme);
        }
        &.disabled {
            border-color: var(--color-gray1);
            filter: saturate(0);
            pointer-events: none;
        }
        text {
            fill: var(--color-white0);
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 15px;
            pointer-events: none;
            user-select: none;
        }
        .land {
            transition: all $transition-type $transition-duration;
            stroke-width: 0.75;
            stroke: var(--color-text);
            fill: $success;
            cursor: pointer;
            fill-opacity: 1;
            stroke-opacity: 1;
            &:hover {
                opacity: 0.75;
                @include mobile() {
                    opacity: 1;
                }
            }
            &.is-selected {
                fill: $blue;
            }
            &.is-occupied {
                fill: var(--color-theme);
                &:hover {
                    opacity: 1;
                    cursor: not-allowed;
                }
            }
        }
    }
    .tablemap-legend {
        display: flex;
        align-items: center;
        max-height: 1.125rem;
        margin-top: 0.5rem;
        .tablemap-legend-example {
            width: 1.125rem;
            height: 1.125rem;
            margin-right: 0.5rem;
            border-radius: 2px;
            &.is-free {
                background: $success;
            }
            &.is-occupied {
                background: var(--color-theme);
            }
        }
        .tablemap-legend-text {
            font-size: 14px;
            letter-spacing: 0.5px;
            line-height: 18px;
        }
    }
}
