// App's global style
.bluefox-title {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.25;
    color: var(--color-title);
}
.bluefox-text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.25;
    color: var(--color-text);
    &.is-underbutton {
        margin-top: 0.5rem;
        font-size: 12px;
        line-height: 16px;
    }
}

.link {
    color: var(--color-text);
    text-decoration: underline;
    &:hover {
        color: var(--color-theme);
    }
}

.logo {
    img {
        width: 200px;
    }
}

.appversion {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    opacity: 0.25;
    font-size: 0.625rem;
}

.form {
    .suggestamount {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.35px;
        text-decoration-line: underline;
        color: var(--color-theme);
        margin-top: 0.75rem;
    }
}
