// App's global style
.bluefox-title {
    color: var(--color-title);
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25;
}
.bluefox-text {
    color: var(--color-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.25;
    &.is-underbutton {
        margin-top: 0.5rem;
        font-size: 12px;
        line-height: 16px;
    }
}
.link {
    color: var(--color-text);
    text-decoration: underline;
    &:hover {
        color: var(--color-theme);
    }
}
.logo {
    img {
        width: 200px;
    }
}
.appversion {
    display: inline-block;
    margin-top: 0.5rem;
    opacity: 0.25;
    font-size: 0.625rem;
    text-align: left;
}
.form {
    .suggestamount {
        margin-top: 0.75rem;
        color: var(--color-theme);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.25px;
        line-height: 16px;
        text-decoration-line: underline;
    }
}
