// Framework's or html style override

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-gray2) !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-gray2) !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--color-gray2) !important;
}

.input {
    transition: all $transition-input-duration $transition-input-type;
    &:hover {
        background-color: var(--color-beige1);
    }
    &:focus {
        box-shadow: none !important;
    }
    &:disabled {
        background-color: var(--color-white1);
    }
}

ion-toast {
    color: var(--color-text);
    &::part(container) {
        backdrop-filter: blur(20px);
        border-radius: 10px;
    }
    &::part(button) {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 13px;
        opacity: 0.75;
    }
    &::part(message) {
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        padding: 0.75rem;
        text-align: center;
    }
    &.ion-color-success {
        --ion-color-base: rgba(249, 239, 229, 0.85) !important;
    }
    &.ion-color-warning {
        --ion-color-base: rgba(244, 173, 162, 0.85) !important;
    }
    &.ion-color-danger {
        --ion-color-base: rgba(206, 6, 6, 0.85) !important;
        color: var(--color-white1);
        &::part(button) {
            filter: invert(1) contrast(5);
            opacity: 1;
        }
    }
}

ion-tab-bar {
    border-color: rgba(var(--color-theme-rgb), 0.2);
    border-width: 1px;
    height: 3.625rem;
    ion-tab-button {
        --padding-top: 0.5rem;
        --padding-bottom: 0.5rem;
        --color: var(--color-text);
        --color-selected: var(--ion-color-primary);
        ion-icon,
        ion-label {
            margin-top: 0;
            margin-bottom: 0;
        }
        ion-icon {
            font-size: 25px;
        }
        ion-label {
            font-size: 10px;
            font-weight: 600;
        }
    }
}

ion-header {
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    &.is-scrolled {
        border-bottom: 1px solid var(--color-gray1);
    }
}

ion-toolbar {
    --padding-start: 1rem;
    --padding-end: 1rem;
    --border-color: transparent;
    --background: transparent;
    ion-title {
        padding-inline: 3.5rem;
    }
    ion-button,
    ion-back-button {
        --border-radius: 50%;
        --icon-font-size: 25px;
        background-color: transparent !important;
        border-color: transparent !important;
        width: 25px;
        padding: 0 !important;
    }
    ion-button {
        --border-radius: 0;
        display: contents !important;
        min-width: 35px;
        width: 60px;
        ion-icon {
            font-size: 23px !important;
        }
    }
}

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --border-color: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    ion-label {
        color: var(--label-color);
        font-size: var(--label-size) !important;
        font-weight: var(--label-weight);
    }
}

ion-datetime {
    --padding-bottom: calc(0.5em - 1px);
    --padding-start: calc(0.75em - 1px);
    --padding-end: calc(0.75em - 1px);
    --padding-top: calc(0.5em - 1px);
    --placeholder-color: var(--color-text);
    color: var(--color-text);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    height: 40px;
    transition: all $transition-input-duration $transition-input-type;
    &.is-danger {
        border-color: $red;
    }
    &:hover {
        background-color: var(--color-beige1);
        border-color: var(--input-border-color);
    }
    &:focus {
        box-shadow: none !important;
        border-color: var(--color-theme);
    }
    &:disabled {
        background-color: var(--color-white1);
        border-color: var(--color-gray1);
        color: var(--color-gray1);
    }
}

// ion-alert
.bluefox-modal {
    --background: var(--color-white0);
    --backdrop-opacity: 0.6;
    backdrop-filter: blur(10px);
    .alert-wrapper {
        border-radius: calc(var(--border-radius) * 2);
        .alert-head {
            padding-top: 2rem;
            .alert-title {
                font-weight: 600;
                font-size: 18px;
                line-height: 18px;
                letter-spacing: 0.35px;
                color: var(--color-title);
                margin-bottom: 0.5rem;
            }
            .alert-sub-title {
                font-weight: 400;
                font-size: 18px;
                line-height: 18px;
                color: var(--color-text);
            }
        }
        .alert-message {
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
            color: var(--color-text);
        }
        .alert-button-group {
            padding-bottom: 2rem;
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            .alert-button {
                border-style: solid;
                border-radius: var(--border-radius);
                min-height: 2rem;
                height: 2rem;
                .alert-button-inner {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.5px;
                }
                &:nth-child(2) {
                    margin-top: 0.75rem;
                }
            }
        }
    }
    &.is-multiple {
        .alert-wrapper {
            .alert-button-group {
                padding-left: 1.25rem;
                padding-right: 1.25rem;
            }
        }
    }
}

// a {
//     color: var(--color-blue);
//     transition: all $transition-type $transition-duration;
//     opacity: 1;
//     font-weight: 500;
//     &:hover {
//         color: var(--color-blue);
//         opacity: 0.7;
//     }
//     &:active {
//         color: var(--color-blue-dark);
//         opacity: 1;
//     }
//     &:focus {
//         outline: none !important;
//     }
//     &.is-black {
//         font-weight: normal;
//         color: var(--color-text);
//         &:hover {
//             color: var(--color-blue);
//         }
//         &:active {
//             color: var(--color-blue-dark);
//         }
//     }
// }

// .control.has-icons-left .icon,
// .control.has-icons-right .icon {
//     z-index: 0;
// }

// .message {
//     box-shadow: var(--shadow-material1);
// }

.fade-enter-active,
.fade-leave-active {
    transition: opacity $transition-duration;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
