// Framework's or html style override

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-gray2) !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-gray2) !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--color-gray2) !important;
}

.input {
    transition: all $transition-input-duration $transition-input-type;
    &:hover {
        background-color: var(--color-beige1);
    }
    &:focus {
        box-shadow: none !important;
    }
    &:disabled {
        background-color: var(--color-white1);
    }
}

ion-tab-bar {
    border-color: rgba(var(--color-theme-rgb), 0.2);
    border-width: 1px;
    height: 3.625rem;
    ion-tab-button {
        --padding-top: 0.5rem;
        --padding-bottom: 0.5rem;
        --color: var(--color-text);
        --color-selected: var(--ion-color-primary);
        ion-icon,
        ion-label {
            margin-top: 0;
            margin-bottom: 0;
        }
        ion-icon {
            font-size: 25px;
        }
        ion-label {
            font-size: 10px;
            font-weight: 600;
        }
    }
}

ion-header {
    padding-top: 1.75rem;
    padding-bottom: 0.75rem;
    // border-bottom: 1px solid var(--color-gray1);
    background: linear-gradient(
        180deg,
        rgb(255, 255, 255) 50%,
        rgba(255, 255, 255, 0) 100%
    ) !important;
}

ion-toolbar {
    --padding-start: 1rem;
    --padding-end: 1rem;
    --border-color: transparent;
    --background: transparent;
    ion-title {
        padding-inline: 3.5rem;
    }
    ion-back-button {
        --border-radius: 50%;
        --icon-font-size: 25px;
        background-color: transparent !important;
        border-color: transparent !important;
        width: 25px;
        padding: 0 !important;
    }
}

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --border-color: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    ion-label {
        color: var(--label-color);
        font-size: var(--label-size) !important;
        font-weight: var(--label-weight);
    }
}

ion-datetime {
    --padding-bottom: calc(0.5em - 1px);
    --padding-start: calc(0.75em - 1px);
    --padding-end: calc(0.75em - 1px);
    --padding-top: calc(0.5em - 1px);
    --placeholder-color: var(--color-text);
    color: var(--color-text);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    height: 40px;
    transition: all $transition-input-duration $transition-input-type;
    &.is-danger {
        border-color: $red;
    }
    &:hover {
        background-color: var(--color-beige1);
        border-color: var(--input-border-color);
    }
    &:focus {
        box-shadow: none !important;
        border-color: var(--color-theme);
    }
    &:disabled {
        background-color: var(--color-white1);
        border-color: var(--color-gray1);
        color: var(--color-gray1);
    }
}

// a {
//     color: var(--color-blue);
//     transition: all $transition-type $transition-duration;
//     opacity: 1;
//     font-weight: 500;
//     &:hover {
//         color: var(--color-blue);
//         opacity: 0.7;
//     }
//     &:active {
//         color: var(--color-blue-dark);
//         opacity: 1;
//     }
//     &:focus {
//         outline: none !important;
//     }
//     &.is-black {
//         font-weight: normal;
//         color: var(--color-text);
//         &:hover {
//             color: var(--color-blue);
//         }
//         &:active {
//             color: var(--color-blue-dark);
//         }
//     }
// }

// .control.has-icons-left .icon,
// .control.has-icons-right .icon {
//     z-index: 0;
// }

// .message {
//     box-shadow: var(--shadow-material1);
// }

// .notices .toast {
//     box-shadow: none;
//     border-radius: 10px;
//     padding: 1em 2em;
//     margin: 1em 0;
//     opacity: 1;
//     font-weight: 500;
//     font-size: 12px;
//     line-height: 14px;
//     &.is-success {
//         background: $success;
//     }
//     &.is-danger {
//         background: $danger;
//     }
// }

.fade-enter-active,
.fade-leave-active {
    transition: opacity $transition-duration;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
