// Framework's or html style override
::placeholder {
    opacity: 1; /* Firefox */

    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color-gray2) !important;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--color-gray2) !important;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--color-gray2) !important;
}
.label:not(:last-child) {
    margin-bottom: 0.125rem;
    font-size: 14px;
}
.input {
    transition: all $transition-input-duration $transition-input-type;
    &:hover {
        background-color: var(--color-beige1);
    }
    &:focus {
        box-shadow: none !important;
    }
    &:disabled {
        background-color: var(--color-white1);
    }
}
ion-toast {
    color: var(--color-text);
    &::part(container) {
        backdrop-filter: blur(20px);
        border-radius: 10px;
    }
    &::part(button) {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0.75;
        font-size: 13px;
    }
    &::part(message) {
        padding: 0.75rem;
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
        text-align: center;
    }
    &.ion-color-success {
        --ion-color-base: rgba(249, 239, 229, 0.85) !important;
    }
    &.ion-color-warning {
        --ion-color-base: rgba(244, 173, 162, 0.85) !important;
    }
    &.ion-color-danger {
        --ion-color-base: rgba(206, 6, 6, 0.85) !important;

        color: var(--color-white1);
        &::part(button) {
            filter: invert(1) contrast(5);
            opacity: 1;
        }
    }
}
ion-tab-bar {
    height: 3.625rem;
    border-width: 1px;
    border-color: rgba(var(--color-theme-rgb), 0.2);
    ion-tab-button {
        --padding-top: 0.5rem;
        --padding-bottom: 0.5rem;
        --color: var(--color-text);
        --color-selected: var(--ion-color-primary);
        ion-icon,
        ion-label {
            margin-top: 0;
            margin-bottom: 0;
        }
        ion-icon {
            padding: 0 0.5rem;
            font-size: 25px;
        }
        ion-label {
            font-size: 10px;
            font-weight: 600;
        }
    }
}
ion-header {
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    &.is-scrolled {
        border-bottom: 1px solid var(--color-gray1);
    }
    ion-toolbar {
        ion-title {
            box-sizing: border-box;
        }
    }
}
ion-toolbar {
    --padding-start: 1rem;
    --padding-end: 1rem;
    --border-color: transparent;
    --background: transparent;
    ion-title {
        padding: 0 3rem;
    }
    ion-button,
    ion-back-button {
        height: 2em !important;
        padding: 0 !important;
        border-color: transparent !important;
    }
    ion-button.button-has-icon-only,
    ion-back-button {
        --border-radius: 50%;
        --icon-font-size: 25px;

        width: 26px;
        background-color: transparent !important;
    }
    ion-button.button-has-icon-only {
        width: 27px;
        margin-inline-start: 0 !important;
        margin-inline-end: 0 !important;
        &::part(native) {
            padding: 0;
        }
    }
}
ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    --border-color: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    ion-label {
        color: var(--label-color);
        font-size: var(--label-size) !important;
        font-weight: var(--label-weight);
    }
}
ion-datetime {
    box-sizing: border-box;
    height: 40px;
    transition: all $transition-input-duration $transition-input-type;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    color: var(--color-text);
    &:hover {
        border-color: var(--input-border-color);
        background-color: var(--color-beige1);
    }
    &:focus {
        border-color: var(--color-theme);
        box-shadow: none !important;
    }
    &:disabled {
        border-color: var(--color-gray1);
        background-color: var(--color-white1);
        color: var(--color-gray1);
    }
    &.is-danger {
        border-color: $red;
    }

    --padding-bottom: calc(0.5em - 1px);
    --padding-start: calc(0.75em - 1px);
    --padding-end: calc(0.75em - 1px);
    --padding-top: calc(0.5em - 1px);
    --placeholder-color: var(--color-text);
}
ion-picker.datetime {
    ion-picker-column:nth-child(4) {
        border-right: 1px solid;
    }
}

// ion-alert
.bluefox-modal {
    --background: var(--color-white0);
    --backdrop-opacity: 0.6;

    backdrop-filter: blur(10px);
    .alert-wrapper {
        border-radius: calc(var(--border-radius) * 2);
        .alert-head {
            padding-top: 2rem;
            .alert-title {
                margin-bottom: 0.5rem;
                color: var(--color-title);
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 0.25px;
                line-height: 18px;
            }
            .alert-sub-title {
                color: var(--color-text);
                font-size: 20px;
                font-weight: 400;
                line-height: 18px;
            }
        }
        .alert-message {
            color: var(--color-text);
            font-size: 14px;
            font-weight: 300;
            line-height: 16px;
        }
        .alert-button-group {
            padding-right: 2.5rem;
            padding-bottom: 2rem;
            padding-left: 2.5rem;
            .alert-button {
                height: 2rem;
                min-height: 2rem;
                border-style: solid;
                border-radius: var(--border-radius);
                &:nth-child(2) {
                    margin-top: 0.75rem;
                }
                .alert-button-inner {
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    line-height: 18px;
                }
            }
        }
    }
    &.is-multiple {
        .alert-wrapper {
            .alert-button-group {
                padding-right: 1.25rem;
                padding-left: 1.25rem;
            }
        }
    }
}

// a {
//     color: var(--color-blue);
//     transition: all $transition-type $transition-duration;
//     opacity: 1;
//     font-weight: 500;
//     &:hover {
//         color: var(--color-blue);
//         opacity: 0.7;
//     }
//     &:active {
//         color: var(--color-blue-dark);
//         opacity: 1;
//     }
//     &:focus {
//         outline: none !important;
//     }
//     &.is-black {
//         font-weight: normal;
//         color: var(--color-text);
//         &:hover {
//             color: var(--color-blue);
//         }
//         &:active {
//             color: var(--color-blue-dark);
//         }
//     }
// }

// .control.has-icons-left .icon,
// .control.has-icons-right .icon {
//     z-index: 0;
// }

// .message {
//     box-shadow: var(--shadow-material1);
// }
.fade-enter-active,
.fade-leave-active {
    transition: opacity $transition-duration;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
