.menu {
    // общие стили меню
    .menu-wine {
        padding: 0;
        .menu-wine-container {
            display: block;
            margin-bottom: 0;
            padding-bottom: 0.5rem;
            .menu-wine-container-top {
                position: relative;
                box-sizing: border-box;
                min-height: 15rem;
                margin-bottom: 0.5rem;
                .menu-wine-container-top-bg {
                    position: absolute;
                    z-index: -1;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 8.5rem;
                    border-radius: 15px;
                    background-color: var(--color-beige2);
                }
                .menu-wine-container-top-image {
                    display: flex;
                    position: absolute;
                    bottom: 1rem;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    img {
                        max-width: 13.5rem;
                        height: 13.5rem;
                        margin: auto;
                    }
                }
                .menu-wine-container-top-info {
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    align-items: flex-end;
                    justify-content: space-between;
                    width: 100%;
                    padding: 0.75rem;
                    .menu-wine-container-top-info-text {
                        color: var(--color-text);
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 1.25;
                    }
                    .menu-wine-container-top-info-food {
                        .menu-icon {
                            &:not(:last-child) {
                                margin-bottom: 0.5rem;
                            }
                        }
                    }
                }
            }
            .menu-wine-container-bottom {
                .menu-wine-container-bottom-name {
                    color: var(--color-text);
                    font-size: 18px;
                    line-height: 1.25;
                }
            }
        }
        .menu-wine-additional {
            display: flex;
            justify-content: space-between;
            padding-top: 0;
            .menu-wine-additional-price {
                color: var(--color-theme);
                font-size: 14px;
                font-weight: 600;
                line-height: 1;
            }
            .menu-wine-additional-like {
                text-align: right;
            }
        }
    }
    .menu-food {
        flex-direction: column;
        .menu-food-container-top {
            position: relative;
            box-sizing: border-box;
            min-height: 20rem;
            margin-bottom: 0.5rem;
            .menu-food-container-top-bg {
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 11rem;
                border-radius: 15px;
                background-color: var(--color-beige2);
            }
            .menu-food-container-top-image {
                display: flex;
                position: absolute;
                bottom: 2.5rem;
                justify-content: center;
                width: 100%;
                height: 100%;
                img {
                    max-width: 18rem;
                    height: 18rem;
                    margin: auto;
                }
            }
            .menu-food-container-top-info {
                display: flex;
                position: absolute;
                bottom: 0;
                flex-direction: column;
                width: 100%;
                padding: 0.75rem;
                .menu-wine-container-info-composition {
                    margin-bottom: 0.5rem;
                    color: var(--color-text);
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 0.5px;
                    line-height: 1.25;
                    .menu-wine-container-info-composition {
                        font-weight: 500;
                    }
                }
                .menu-wine-container-info-suggestedwine {
                    display: flex;
                    align-items: center;
                    .menu-wine-container-info-suggestedwine-name {
                        margin-right: 0.25rem;
                        color: var(--color-text);
                        font-size: 18px;
                        font-weight: 500;
                        letter-spacing: 0.25px;
                        line-height: 1.25;
                    }
                    .menu-wine-container-info-suggestedwine-icon {
                        display: flex;
                        width: 13px;
                        height: 13px;
                        ion-icon {
                            margin: auto;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .menu-food-container-bottom {
            .menu-food-container-bottom-name {
                color: var(--color-text);
                font-size: 22px;
                font-weight: 500;
                line-height: 1.5;
            }
            .menu-food-container-bottom-price {
                color: var(--color-theme);
                font-size: 22px;
                font-weight: 600;
                line-height: 1;
            }
            .menu-food-container-bottom-buy {
                margin-top: 1rem;
            }
        }
    }
    .menu-icon {
        display: flex;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--color-white0);
        ion-icon {
            margin: auto;
            font-size: 14px;
        }
    }
}
