.orderslist {
    text-align: left;
    li:not(:last-child) {
        margin-bottom: 2rem;
    }
    .orderslist-item {
        display: flex;
        align-items: center;
        .orderslist-item-title {
            font-weight: 400;
            font-size: 18px;
            line-height: 16px;
            letter-spacing: 0.25px;
            color: var(--color-text);
        }
        .orderslist-item-status {
            font-size: 14px;
            text-align: right;
            width: 6rem !important;
        }
        .orderslist-item-preview {
            font-weight: 300;
            font-size: 14px;
            color: var(--color-text);
        }
        .orderslist-item-arrow {
            text-align: right;
            width: 1.5rem !important;
            ion-icon {
                font-size: 14px;
            }
        }
    }
    .columns {
        margin: 0;
        .column {
            padding: 0;
        }
    }
}

.order {
    .order-status {
        font-weight: 500;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 0.5px;
        text-align: center;
        color: $blue;
    }
    .order-total {
        dl {
            display: flex;
            justify-content: space-between;
            dt {
                font-size: 26px;
                color: var(--color-text);
            }
            dd {
                font-weight: 600;
                font-size: 26px;
                color: var(--color-theme);
            }
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }
    .order-pay {
        margin-top: 2rem;
    }
    .order-booked {
        font-weight: 300;
        font-size: 18px;
        text-align: center;
        color: var(--color-text);
        margin-top: 3rem;
    }
}

.orderslist-item-status,
.order-status {
    &.is-notpayed {
        color: $red;
    }
    &.is-payed {
        color: $blue;
    }
    &.is-closed {
        color: $success;
    }
}
