.profile {
    display: block;
    text-align: center;
    .profile-avatar {
        object-fit: cover;
        object-position: center;
        width: 135px !important;
        height: 135px !important;
        margin: auto;
    }
    .image {
        margin-bottom: 1.5rem;
    }
    .profile-name {
        font-size: 34px;
        margin-bottom: 0.5rem;
    }
    .profile-phonenumber {
        font-weight: 400;
        font-size: 18px;
        line-height: 16px;
    }
    .profile-bonuses {
        text-align: left;
        font-weight: 600;
        font-size: 22px;
        line-height: 16px;
        color: var(--color-theme);
    }
    .form {
        text-align: left;
    }
}
