.profilebg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    border-radius: 0 0 15px 15px;
    background-color: var(--color-beige2);
}
.profile {
    display: block;
    text-align: center;
    .profile-avatar {
        object-fit: cover;
        object-position: center;
        width: 135px !important;
        height: 135px !important;
        margin: auto;
    }
    .image {
        margin-bottom: 1.5rem;
    }
    .profile-name {
        margin-bottom: 0.5rem;
        font-size: 34px;
    }
    .profile-phonenumber {
        font-size: 18px;
        font-weight: 400;
        line-height: 16px;
    }
    .profile-bonuses {
        color: var(--color-theme);
        font-size: 22px;
        font-weight: 600;
        line-height: 16px;
        text-align: left;
    }
    .form {
        text-align: left;
    }
}
