.profile {
    display: block;
    text-align: center;
    .profile-avatar {
        object-fit: cover;
        object-position: center;
        width: 135px !important;
        height: 135px !important;
        margin: auto;
    }
    .image {
        display: flex;
        flex-direction: column-reverse;
        width: 8rem;
        margin: 0 auto 1.5rem;
        .profile-photoicon {
            position: absolute;
            right: 0;
            bottom: 0.5rem;
            ion-icon {
                font-size: 25px;
            }
        }
    }
    .profile-highlight {
        margin-right: -1rem;
        margin-bottom: 1rem;
        margin-left: -1rem;
        padding: 1rem 0;
        background-color: var(--color-beige2);
    }
    .profile-name {
        margin-bottom: 0.25rem;
        font-size: 34px;
    }
    .profile-phonenumber {
        font-size: 18px;
        font-weight: 400;
    }
    .profile-additional {
        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
    .profile-bonuses {
        color: var(--color-theme);
        font-size: 22px;
        font-weight: 600;
        line-height: 16px;
        text-align: left;
    }
    .form {
        text-align: left;
    }
}
