// 4 variants of Futura PT
@import url("https://use.typekit.net/rfd7nps.css");
// Light: 300
// Book: 400
// Medium: 500
// Demi: 600

@function hexToRGB($hex) {
    @return red($hex), green($hex), blue($hex);
}

:root {
    // INITIAL COLORS
    --color-white0: #ffffff;
    --color-white1: #f7f7f7;
    --color-white2: #efefef;

    --color-beige1: #fcfaf3;
    --color-beige2: #f9efe5;

    --color-gray1: #c0bfbf;
    --color-gray2: #adadad;
    --color-gray3: #959595;
    --color-gray4: #9d9292;

    --color-theme: #a44637;
    --color-theme-bright: #c4412d;
    --color-theme-rgb: #{hexToRGB(#a44637)};
    --color-theme-bright-rgb: #{hexToRGB(#c4412d)};

    --color-title: #181818;
    --color-text: #3f3f3f;

    // DERIVED COLOR
    --body-background-color: var(--color-white0);
    --input-border-color: var(--color-gray4);
    --box-background-color: var(--color-white0);

    // MISC
    --border-radius: 5px;
    --font-main: futura-pt;
    --shadow1: -6px 10px 15px rgba(164, 70, 55, 0.19);

    --label-size: 1rem;
    --label-weight: 300;
    --label-color: var(--color-text);

    // IONIC
    --ion-font-family: futura-pt;
    --ion-color-primary: var(--color-theme);
}

//CUSTOMIZING FRAMEWORK DEFAULTS
$radius: var(--border-radius);

$transition-type: ease;
$transition-duration: 0.3s;
$transition-button-type: $transition-type;
$transition-button-duration: $transition-duration;
$transition-input-type: $transition-type;
$transition-input-duration: $transition-duration;

$family-sans-serif: var(--font-main), BlinkMacSystemFont, -apple-system,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$success: #37a463;
$red: #ce0606;
$blue: #4e3595;

$body-background-color: var(--body-background-color);
$body-color: var(--color-text);

$title-color: var(--color-title);
$title-weight: 500;
// $subtitle-color: var(--color-text);
// $content-heading-color: var(--color-text);

$label-color: var(--label-color);
$label-weight: var(--label-weight);
$input-color: $body-color;
$input-border-color: var(--input-border-color);
$input-hover-border-color: var(--input-border-color);
$input-focus-border-color: var(--color-theme);
$input-disabled-color: var(--color-gray1);
$input-disabled-border-color: var(--color-gray1);
$input-shadow: none;

$hr-background-color: var(--color-beige2);
$hr-margin: 2.25rem 0;

// $box-color: var(--color-text);
// $box-background-color: var(--box-background-color);
// $box-radius: var(--border-radius);
// $box-shadow: none;

// $checkbox-active-background-color: var(--color-theme);
