.winecart {
    ion-icon {
        font-size: 16px !important;
    }
}
.wine {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .wine-top {
        display: flex;
        position: absolute;
        z-index: 1;
        justify-content: space-between;
        width: 100%;
    }
    .wine-middle {
        display: table;
        height: 26rem;
        margin: 0;
        padding: 0;
    }
    .wine-title {
        width: 55vw;
        padding: 0.25rem 0 0 1rem;
        font-size: 26px;
        font-weight: 600;
        line-height: 1.125;
    }
    .wine-fav {
        padding: 0.25rem 1rem 1rem 1rem;
        .menu-icon {
            display: flex;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: var(--color-white0);
            ion-icon {
                margin: auto;
                color: var(--color-theme);
                font-size: 16px !important;
            }
        }
    }
    .wine-features {
        display: flex;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        box-sizing: border-box;
        align-items: flex-end;
        height: 30rem;
        padding: 1rem;
        .wine-features-rating {
            margin-bottom: 1rem;
        }
        .wine-features-feature {
            margin-bottom: 1rem;
            .wine-features-feature-title {
                color: var(--color-theme);
                font-size: 14px;
                line-height: 1;
            }
            .wine-features-feature-value {
                color: var(--color-title);
                font-size: 20px;
                font-weight: 600;
            }
        }
        .wine-features-price {
            color: var(--color-theme);
            font-size: 18px;
            font-weight: 600;
        }
    }
    .wine-expo {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 64vw;
        height: 30rem;
        padding: 0;
        border-radius: 0 0 0 15px;
        background-color: var(--color-beige2);
        .control {
            width: 100%;
        }
        .wine-expo-image {
            margin-bottom: 2rem;
            img {
                max-width: 20rem;
                height: 20rem;
                margin: auto;
                filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.1));
            }
        }
        .wine-expo-buy {
            width: 100%;
            border-radius: 0 0 0 15px;
        }
    }
    .wine-bottom {
        padding: 1rem;
    }
    .wine-desc {
        margin-bottom: 1.5rem;
        p {
            font-size: 16px;
            line-height: 18px;
        }
    }
    .wine-suggestedfood {
        .wine-suggestedfood-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 1;
        }
        .wine-suggestedfood-icons {
            display: flex;
            margin-top: 0.75rem;
            .menu-icon {
                display: flex;
                box-sizing: border-box;
                width: 2.875rem;
                height: 2.875rem;
                border: 1px solid var(--color-theme);
                border-radius: 5px;
                &:not(:last-child) {
                    margin-right: 3.5vw;
                }
                ion-icon {
                    margin: auto;
                    font-size: 32px;
                }
            }
        }
    }
}
